<h1>Sphynx Widdles</h1>
<div class="container">
    <form id="sphynx-riddles" action="/output" method="get">
      <div class="form-group">
        <label for="riddle-1">What breaks when you say it? </label>
        <input id="ans-1" type="text" name="riddle-1">
      </div>

      <div class="form-group">
        <label for="riddle-2">2. What is something that is yours, yet everyone uses it more than you. </label>
        <input id="ans-2" type="text" name="riddle-2">
      </div>

      <div class="form-group">
        <label for="riddle-3">3. You are locked in a cabin with no way out. It is so cold you will freeze to death if you don't stay warm. Inside are a stove, lantern and candle. You only have one match so what do you light first? </label>
        <input id="ans-3" type="text" name="riddle-3">
      </div>

      <button type="submit" class="btn btn-default">Submit</button>
    </form>
</div>
