<h1>Sphinx Widdles</h1>
<div class="container">
    <form id="sphynx-riddles" action="/output" method="get">
      <div class="form-group">
        <h3> <%= @display_riddle1 %> </h3>
        <input id="ans-1" type="text" name="riddle-1">
      </div>

      <div class="form-group">
        <h3> <%= @display_riddle2 %> </h3>
        <input id="ans-2" type="text" name="riddle-2">
      </div>

      <div class="form-group">
        <h3> <%= @display_riddle3 %> </h3>
        <input id="ans-3" type="text" name="riddle-3">
      </div>

      <button type="submit" class="btn btn-default">Submit</button>
    </form>
</div>
